<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, eligendi
    aperiam. Aliquam quis molestias dignissimos temporibus eos error, vitae
    cumque.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#src-4"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
